article{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: start;
    background-color: #000000;
    color: #ffff;
    height: 724px;
    width: auto;
    padding: 40px 40px 50px 40px;
}

#about-right-side{
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

#comemoracao-img{
    width: 600px;
    height: 400px;
}

#about-btn{
    width: 240px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

#about-title{
    font-size: 40px;
    color: #AF9D34;
}

#about-copy{
    font-size: 16px;
    margin-top: 20px;
}

#frase-efeito{
    font-size: 18px;
}

#junte-se{
    font-size: 25px;
    position: relative;
    top: 15px;
}