
.carousel-container {
    width: 100%;
    padding: 0;
  }

.slick-slide  {
    padding-left: 2%;
}
.slick-dots {
  margin-left: 8%;
  z-index: 10; 
}

.slick-dots li button {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
}


.slick-dots li.slick-active button {
  background-color: rgba(255, 255, 255, 1); 
}

